body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.poem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.poem {
    text-align: left;
}
.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.author {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #555;
}
.verse {
    margin: 10px 0;
}
.signature {
    font-family: Arial, sans-serif;
    color: #da3b17;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}